# Code Ownership
.github                   @marcinz @m3vaz @sandeepd-nv @mag1cp1n @cryos
continuous_integration    @marcinz @m3vaz @sandeepd-nv @mag1cp1n @cryos
conda                     @marcinz @m3vaz @sandeepd-nv @mag1cp1n @cryos
