---
name: Build Nightly release package

concurrency:
  group: >-
    ${{
      (startsWith(github.ref_name, 'main') || startsWith(github.ref_name, 'branch-')) &&
      format('{0}-{1}', github.workflow, github.run_id) ||
      format('{0}-{1}', github.workflow, github.ref_name)
    }}
  cancel-in-progress: true

on:
  workflow_dispatch:
    inputs:
      ref-sha:
        description: 'The Full-commit SHA to checkout. Default=HEAD'
        required: false
        default: ''
  schedule:
    - cron: '0 23 * * *'  # Nightly at 11:00 PM

jobs:
  cu129-tests:
    name: CUDA 12.9 tests
    strategy:
      fail-fast: false
      matrix: &cuda-build-matrix
        platform:
          - linux
          - linux-aarch64
        target-device:
          - gpu
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: true
      cuda-version: "12.9.0"
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  cu129:
    name: CUDA 12.9 packages
    strategy:
      fail-fast: false
      matrix: *cuda-build-matrix
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: false
      cuda-version: "12.9.0"
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  cu130-tests:
    name: CUDA 13.0 tests
    strategy:
      fail-fast: false
      matrix: *cuda-build-matrix
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: true
      cuda-version: "13.0.0"
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  cu130:
    name: CUDA 13.0 packages
    strategy:
      fail-fast: false
      matrix: *cuda-build-matrix
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: false
      cuda-version: "13.0.0"
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  cpu-tests:
    name: CPU nightly tests
    strategy:
      fail-fast: false
      matrix: &cpu-build-matrix
        platform:
          - linux
          - linux-aarch64
        target-device:
          - cpu
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: true
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  cpu-packages:
    name: CPU nightly packages
    strategy:
      fail-fast: false
      matrix: *cpu-build-matrix
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: false
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  build-nightly-docs:
    name: Build Nightly documentation (${{ matrix.platform }}, ${{ matrix.target-device }}, ${{ matrix.build-mode }}, ucx enabled)
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
        target-device:
          - gpu
        build-mode:
          - release
    uses:
      ./.github/workflows/gh-build-docs.yml
    with:
      platform: ${{ matrix.platform }}
      ref-sha: ${{ github.event.inputs.ref-sha }}
      target-device: ${{ matrix.target-device }}
      build-mode: ${{ matrix.build-mode }}
      build-type: nightly
      upload-docs-to-gh-pages: true
    secrets: inherit

  push_code:
    name: Nightly source release
    uses:
      nv-legate/legate-gh-ci/.github/workflows/gh-push-code.yml@v1.42
    with:
      runs-on: linux-amd64-cpu4
      source-repo: "${{ github.repository_owner }}/cupynumeric.internal"
      dest-repo: "${{ github.repository_owner }}/cupynumeric"
    secrets: inherit
