name: Build Nightly release package

concurrency:
  group: ci-nightly-release-on-${{ github.event_name }}-from-${{ github.ref_name }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  schedule:
    - cron: '0 23 * * *'  # Nightly at 11:00 PM

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
          - linux-aarch64
        target-device:
          - gpu
          - cpu
        build-has-tests:
          - true
          - false
        python-version:
          - "3.11"
          - "3.12"
          - "3.13"
    uses:
      ./.github/workflows/gh-build-and-test.yml
    with:
      build-type: nightly
      platform: ${{ matrix.platform }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: ${{ matrix.build-has-tests }}
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  build-nightly-docs:
    name: Build Nightly documentation (${{ matrix.platform }}, ${{ matrix.target-device }}, ${{ matrix.build-mode }}, ucx enabled)
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
        target-device:
          - gpu
        build-mode:
          - release
    uses:
      ./.github/workflows/gh-build-docs.yml
    with:
      platform: ${{ matrix.platform }}
      target-device: ${{ matrix.target-device }}
      build-mode: ${{ matrix.build-mode }}
      build-type: nightly
      upload-docs-to-gh-pages: true
    secrets: inherit

  push_code:
    name: Nightly source release
    uses:
      nv-legate/legate-gh-ci/.github/workflows/gh-push-code.yml@v1.32
    with:
      runs-on: linux-amd64-cpu4
      source-repo: "${{ github.repository_owner }}/cupynumeric.internal"
      dest-repo: "${{ github.repository_owner }}/cupynumeric"
    secrets: inherit
