---
name: Build CI package

concurrency:
  group: >-
    ${{
      (startsWith(github.ref_name, 'main') || startsWith(github.ref_name, 'branch-')) &&
      format('{0}-{1}', github.workflow, github.run_id) ||
      format('{0}-{1}', github.workflow, github.ref_name)
    }}
  cancel-in-progress: true

on:
  workflow_dispatch:
  push:
    branches:
      - "pull-request/[0-9]+"
      - "branch-*"
      - "main"

jobs:
  build-and-test:
    strategy:
      fail-fast: false
      matrix:
        platform:
          - linux
          - linux-aarch64
        target-device:
          - gpu
          - cpu
        build-has-tests:
          - true
        python-version:
          - "3.13"
        exclude:
          - platform: linux-aarch64
            target-device: gpu
    uses:
      ./.github/workflows/gh-build-and-test.yml
    needs: [telemetry-setup]
    with:
      build-type: ci
      platform: ${{ matrix.platform }}
      python-version: ${{ matrix.python-version }}
      target-device: ${{ matrix.target-device }}
      build-has-tests: ${{ matrix.build-has-tests }}
      refname: ${{ github.ref_name }}
      default-branch: ${{ github.event.repository.default_branch }}
    secrets: inherit

  tests-pass:
    if: always()
    needs:
      - build-and-test
    runs-on: linux-amd64-cpu4
    steps:
      - name: Check job results
        if: contains(needs.*.result, 'failure') || contains(needs.*.result, 'cancelled')
        run: exit 1
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'cigh-cupynumeric'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: [tests-pass]
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
      OTEL_SERVICE_NAME: 'cigh-cupynumeric'
