---
name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"

concurrency:
  group: >-
    ${{
      (startsWith(github.ref_name, 'main') || startsWith(github.ref_name, 'branch-')) &&
      format('{0}-{1}', github.workflow, github.run_id) ||
      format('{0}-{1}', github.workflow, github.ref_name)
    }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -eou pipefail {0}

jobs:
  legate-sha:
    runs-on: linux-amd64-cpu4
    outputs:
      LEGATE_SHA: ${{ steps.legate-sha.outputs.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6.0.2
        with:
          fetch-depth: 0
      - name: Get the Legate SHA
        id: legate-sha
        run: |
          sha=$(jq .packages.legate.git_tag cmake/versions.json)
          echo "sha=$sha" >> $GITHUB_OUTPUT
  wheels-build:
    needs: [legate-sha, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yml
    with:
      build-type: pull-request
      legate-sha: ${{ needs.legate-sha.outputs.LEGATE_SHA }}
      matrix_filter: group_by(.ARCH) | map(max_by(.PY_VER|split(".")|map(tonumber)))
  wheels-test:
    needs: [wheels-build, legate-sha, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yml
    with:
      build-type: pull-request
      legate-sha: ${{ needs.legate-sha.outputs.LEGATE_SHA }}
      matrix_filter: group_by(.ARCH) | map(max_by(.PY_VER|split(".")|map(tonumber)))
  wheels-mac:
    name: wheels-mac (optional)
    needs: [legate-sha, telemetry-setup]
    secrets: inherit
    uses: ./.github/workflows/wheels-mac.yml
    with:
      build-type: pull-request
      legate-sha: ${{ needs.legate-sha.outputs.LEGATE_SHA }}
      matrix_filter: '[max_by(.PY_VER|split(".")|map(tonumber))]'
  telemetry-setup:
    continue-on-error: true
    runs-on: ubuntu-latest
    env:
      OTEL_SERVICE_NAME: 'pr-cupynumeric'
    steps:
      - name: Telemetry setup
        if: ${{ vars.TELEMETRY_ENABLED == 'true' }}
        uses: rapidsai/shared-actions/telemetry-dispatch-stash-base-env-vars@main
  telemetry-summarize:
    # This job must use a self-hosted runner to record telemetry traces.
    runs-on: linux-amd64-cpu4
    needs: [wheels-build, wheels-test, wheels-mac]
    if: ${{ vars.TELEMETRY_ENABLED == 'true' && !cancelled() }}
    continue-on-error: true
    steps:
      - name: Telemetry summarize
        uses: rapidsai/shared-actions/telemetry-dispatch-summarize@main
    env:
      GH_TOKEN: ${{ github.token }}
      OTEL_SERVICE_NAME: 'pr-cupynumeric'
