name: pr

on:
  push:
    branches:
      - "pull-request/[0-9]+"
      - "branch-*"
      - "main"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

defaults:
  run:
    shell: bash -eou pipefail {0}

jobs:
  legate-sha:
    runs-on: linux-amd64-cpu4
    outputs:
      LEGATE_SHA: ${{ steps.legate-sha.outputs.sha }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Get the Legate SHA
        id: legate-sha
        run: |
          sha=$(jq .packages.legate.git_tag cmake/versions.json)
          echo "sha=$sha" >> $GITHUB_OUTPUT
  wheels-build:
    needs: legate-sha
    secrets: inherit
    uses: ./.github/workflows/wheels-build.yml
    with:
      build-type: pull-request
      legate-sha: ${{ needs.legate-sha.outputs.LEGATE_SHA }}
  wheels-test:
    needs: [wheels-build, legate-sha]
    secrets: inherit
    uses: ./.github/workflows/wheels-test.yml
    with:
      build-type: pull-request
      legate-sha: ${{ needs.legate-sha.outputs.LEGATE_SHA }}
